[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[mergetool]
	keepBackup = false
[core]
	autocrlf = input
[user]
	name = Fenris Lycaon
	email = thefenrislycaon@gmail.com
	password = Fuck/bin/zshci3ty
[color]
	ui = true
